<!DOCTYPE html>
<html lang="en">
<head>
	<title>HICAT.Livera</title>
   <meta charset="UTF-8">
	<script type="text/javascript" src="src/js/vue.min.js"></script>
   <script type="text/javascript" src="src/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="src/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="src/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="src/css/style.css">
  <link rel="stylesheet" href="src/css/style-space.css">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   
</head>

<body id="app" ontouchstart="">
<div class="containor-fluid">
	<div class="row">
  <div class="col-xs-12" id="topbar">

    <div id="star-field"></div>
    <div >
      <liverasvg></liverasvg>
        </div>
        <script src='src/js/web-animations-next.min.js'></script>
        <script src="src/js/index.js"></script>

  </div>
</div>

<div id="Robot-control">
  <div v-if="RobotControlToggle">
    <div class="row" id="Robot-control-block">
      <div class="col-xs-8" id="leftBlock">

        <div id="left"></div>

          <script src="src/js/nipplejs.js" charset="utf-8"></script>
            <script>
            var joystickL = nipplejs.create({
                zone: document.getElementById('left'),
                mode: 'static',
                position: { left: '50%', top: '50%' },
                color: 'blue',
                size: 150
            });
            </script>
      </div>
      <div class="col-xs-4">
        <div class="row">
        <div class="col-xs-12">up
          </div>
        </div>
        <div class="row">laser</div>
        <div class="row">down</div>
      </div>
    </div>
  </div>
  

</div>

<div class="row">
  <div class="col-xs-8" @click="videoCapture" id="button">
  <div class="centerBlock">
      <div id="btn-record-start"
           v-if="recordToggle"
           >
          <span class="glyphicon glyphicon-record" id="record-icon" aria-hidden="true"></span>
          <span>START RECORDING</span>
        </div>
        <div id="btn-record-stop"
           v-else
           >
          <span class="glyphicon glyphicon-stop" style="color:red"id="record-icon" aria-hidden="true"></span>
          <span>STOP</span>
        </div>
    </div>
  </div>
    <div class="col-xs-4" id="button">
      <div class="centerBlock">
        <div id="btn-video-download">
          <span class="glyphicon glyphicon-save" id="record-icon" aria-hidden="true"></span>
          <span>DOWNLOAD</span>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<!-- 1.station mode  2.rc car 3.LineTrack 4.screen reso 5.old api -->
  <screenResolution></screenResolution>
  
<div class="col-xs-12" id="station-block"
       v-if='station_show'>
    <div class="popupBlock">
         <div class="form-group">
            <input type="WIFI" class="form-control" id="exampleInputEmail1" placeholder="WIFI Name">
         </div>
         <div class="form-group">
            <input type="WIFI" class="form-control" id="exampleInputEmail1" placeholder="Password">
         </div>
      <button type="submit" class="btn btn-lg">Submit</button>
    </div>   
  </div>

  <div class="row">
    <div class="col-xs-4" id="button"  
         @click="wifiStateToggle">
      <div class="centerBlock">
        <span class="glyphicon glyphicon-signal" id="record-icon" aria-hidden="true"></span>
        <span>Station(WIFI)</span>
      </div>
    </div>
     <div class="col-xs-4" id="button"
          @click="RobotControlStateToggle">
      <div class="centerBlock">
        <span class="glyphicon glyphicon-screenshot" id="record-icon" aria-hidden="true"></span>
        <span>Robot control</span>
      </div>
    </div>
     <div class="col-xs-4" id="button">
      <div class="centerBlock">
        <span class="glyphicon glyphicon-road" id="record-icon" aria-hidden="true"></span>
        <span>LineTrack</span>
      </div>
    </div>
  </div>
  </div>
 
<!-- screen-reso component -->
<template id="screen-resolution">

    <div class="row">
      <div class="col-xs-4" id="button">
          <div class="centerBlock">
            <span>720P(1280*720)</span>
          </div>
      </div>
      <div class="col-xs-4" id="button">
          <div class="centerBlock">
             <span>VGA(640*480)</span>
          </div>
      </div>
      <div class="col-xs-4" id="button">
          <div class="centerBlock">
            <span>QVGA(320*240)</span>
          </div>
      </div>
    </div>
   <div class="row">
      <div class="col-xs-4" id="button">
          <div class="centerBlock">
            <span>720P(180°) <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></span>
          </div>
      </div>
      <div class="col-xs-4" id="button">
          <div class="centerBlock">
             <span>VGA(180°) <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></span>
          </div>
      </div>
      <div class="col-xs-4" id="button">
          <div class="centerBlock">
           <span>QVGA(180°) <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></span>
          </div>
      </div>
    </div>
</template>

<template id="livera-img">
  <img src="src/img/LiveraBoard.svg" id="livera-board-img" >
</template>



<script>
var recordToggle=null;
var answer1=null;
var apiURL = '/hicat/test';
var station_show=null;
var RobotControlToggle=null;

new Vue({
  el:'#app',
  data:{
   recordToggle:true,
   station_show:false,
   RobotControlToggle:false
  },
  methods:{
    recordStateToggle:function(){
      return this.recordToggle = !this.recordToggle;
    },
    wifiStateToggle:function(){
      return this.station_show = !this.station_show;
    },
    RobotControlStateToggle:function(){
      return this.RobotControlToggle = !this.RobotControlToggle;
    },
    videoCapture:function(){
  var xhr = new XMLHttpRequest()
      var self = this
      
      xhr.open('GET', apiURL, true)
      console.log("see click")
      
      xhr.onload = function() {
        console.log("see result")
        answer1 = JSON.parse(xhr.responseText)
        console.log(answer1)
        if(answer1.result='OK'){
          recordStateToggle();
        }
        
     }
    xhr.send()
   }

  },

  components:{
    liverasvg:{
     template:'#livera-img'
   },
    screenresolution:{
      template:'#screen-resolution'
    }
    // ,
    // RobotControl:{
    //   template:'#Robot-control'
    // }
 }
});
</script>
</body>
</html>
