@keyframes upLeft {
  0% {
    margin: 0 0 0 0;
  }
  100% {
    margin: -1000px 0 0 -1000px;
  }
}
@keyframes upRight {
  0% {
    margin: 0 0 0 0;
  }
  100% {
    margin: -1000px 0 0 1000px;
  }
}
@keyframes downLeft {
  0% {
    margin: 0 0 0 0;
  }
  100% {
    margin: 1000px 0 0 -1000px;
  }
}
@keyframes downRight {
  0% {
    margin: 0 0 0 0;
  }
  100% {
    margin: 1000px 0 0 1000px;
  }
}
* {
  box-sizing: border-box;
}

html, #star-field {
  width: 100%;
  height: 100%;
 /* overflow: hidden;*/
  position: absolute;
  z-index: -1000;
}


.star,
.mid-star,
.bg-star {
  width: 3px;
  height: 3px;
  background: #fff;
  position: absolute;
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 black;
  margin: 0;
}

.mid-star {
  background: #999;
  width: 2px;
  height: 2px;
}
.mid-star.up-left {
  animation: upLeft 10000s linear 1s infinite;
}
.mid-star.up-right {
  animation: upRight 10000s linear 1s infinite;
}
.mid-star.down-left {
  animation: downLeft 10000s linear 1s infinite;
}
.mid-star.down-right {
  animation: downRight 10000s linear 1s infinite;
}

.bg-star {
  background: #333;
  width: 1px;
  height: 1px;
}

.star.up-left {
  animation: upLeft 1000s linear 1s 1;
}
.star.up-right {
  animation: upRight 1000s linear 1s 1;
}
.star.down-left {
  animation: downLeft 1000s linear 1s 1;
}
.star.down-right {
  animation: downRight 1000s linear 1s 1;
}
