#livera-board-img {
    width: 160px;
    margin: 15px auto;
    display: block;
    z-index: 100;
    /*-webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;*/
}

#topbar {
    background-color: #252835;
    /*position: relative;*/
    z-index: -2;
    height: 250px;
}

#app {
    background-color: #eee;
}

[class*="col-"] {
    background-color: #fff;
    border: 1px solid #252835;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}


/*#left {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 100, 0.1);

 }*/


/*#leftBlock{
	touch-action:none;
}*/


/*[class*="col-xs-4"]:active {
	background-color: #252835;
	border: 1px solid #252835;
	animation-name: btn-press;
	animation-duration: 1s;
	cursor: pointer;
}*/

#button:active {
    background-color: #252835;
    border: 1px solid #252835;
    animation-name: btn-press;
    animation-duration: 1s;
    cursor: pointer;
}

#button:hover {
    cursor: pointer;
}

#leftBlock {
    background-color: #eee;
}

#exit-button {
    display: table;
    font-size: 1.5em;
    margin: 10px auto;
}

#download-popup-list, li{
	padding: 10px;
}

/*[class*="col-xs-8"]:active {
	background-color: #252835;
	border: 1px solid #252835;
	animation-name: btn-press;
	animation-duration: 1s;
	cursor: pointer;
}*/


/*#leftBlock{
	padding: 50px;
}
*/

.centerBlock {
    display: table;
    margin: 25px auto;
    cursor: pointer;
}

#station-block {
    background-color: #eee;
}

.form-group {
    margin: 10px;
    padding: 5px 20px;
}

#apAdSwitch {
    margin-bottom: 15px;
}

#apAdNotice {
    display: block;
    padding-bottom: 10px;
}

#inputWifi {
    margin-bottom: 15px;
}

.form-group button {
    margin-top: 15px;
}

#record-icon {
    display: block;
    text-align: center;
    font-size: 35px;
    color: #252835;
    margin-bottom: 5px;
}



@keyframe btn-press {
    0% {
        -webkit-transform: scale(1.2em);
        transform: scale(1.2em);
    }
    100% {
        -webkit-transform: scale(1.2em);
        transform: scale(1.2em);
    }
}


}

/*@-moz-keyframes spin { 
	100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
	100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
	0%{-webkit-transform: rotate(0deg); transform:rotate(0deg);}
	25%{-webkit-transform: rotate(-1.5deg); transform:rotate(-1.5deg);}
	75%{-webkit-transform: rotate(1.5deg); transform:rotate(1.5deg);}
	100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
	 }


*/
